<!DOCTYPE html>
<html layout:decorate="~{shared/layout}" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<div layout:fragment="content">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Manage User</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Manage User</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!--  /card search bar & add user/  -->
            <div class="card-header d-flex">
              <!-- SidebarSearch Form -->
              <div class="form col-3">
                <form method="post" th:action="@{/admin/search-user}" th:object="${keyword}">
                  <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search User" aria-label="Search" th:field="*{keyword}">
                    <div class="input-group-append mr-3">
                      <button class="btn btn-secondary" type="submit">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="form col-3">
                <div class="input-group-append">
                  <a class="btn btn-secondary" th:href="@{/admin/add-user}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <!--  /end card search bar & add user/  -->

            <div class="card-body">

              <div class="row">
                <table class="table table-borderless">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user : ${userList}">
                    <th scope="row">1</th>
                    <td th:text="${user.name}">Mark</td>
                    <td th:text="${user.email}">Otto</td>
                    <td th:text="${user.username}">@mdo</td>
                  </tr>
<!--                  <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td>Jacob</td>-->
<!--                    <td>Thornton</td>-->
<!--                    <td>@fat</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">3</th>-->
<!--                    <td colspan="2">Larry the Bird</td>-->
<!--                    <td>@twitter</td>-->
<!--                  </tr>-->
                  </tbody>
                </table>
                <div class="col-12 d-flex justify-content-center">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>

<!--                <div th:if="${bookPage.totalPages > 0}" class="pagination"-->
<!--                     th:each="pageNumber : ${pageNumbers}">-->
<!--                  <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"-->
<!--                     th:text=${pageNumber}-->
<!--                     th:class="${pageNumber==bookPage.number + 1} ? active"></a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-6">-->
<!--                  &lt;!&ndash; small box / card dashboard&ndash;&gt;-->
<!--                  <div class="small-box bg-info">-->
<!--                    <div class="inner">-->
<!--                      <h3>150</h3>-->

<!--                      <p>New Orders</p>-->
<!--                    </div>-->
<!--                    <div class="icon">-->
<!--                      <i class="ion ion-bag"></i>-->
<!--                    </div>-->
<!--                    <a class="small-box-footer" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; ./col &ndash;&gt;-->
<!--                <div class="col-lg-3 col-6">-->
<!--                  &lt;!&ndash; small box &ndash;&gt;-->
<!--                  <div class="small-box bg-success">-->
<!--                    <div class="inner">-->
<!--                      <h3>53<sup style="font-size: 20px">%</sup></h3>-->

<!--                      <p>Bounce Rate</p>-->
<!--                    </div>-->
<!--                    <div class="icon">-->
<!--                      <i class="ion ion-stats-bars"></i>-->
<!--                    </div>-->
<!--                    <a class="small-box-footer" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; ./col &ndash;&gt;-->
<!--                <div class="col-lg-3 col-6">-->
<!--                  &lt;!&ndash; small box &ndash;&gt;-->
<!--                  <div class="small-box bg-warning">-->
<!--                    <div class="inner">-->
<!--                      <h3>44</h3>-->

<!--                      <p>User Registrations</p>-->
<!--                    </div>-->
<!--                    <div class="icon">-->
<!--                      <i class="ion ion-person-add"></i>-->
<!--                    </div>-->
<!--                    <a class="small-box-footer" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; ./col &ndash;&gt;-->
<!--                <div class="col-lg-3 col-6">-->
<!--                  &lt;!&ndash; small box &ndash;&gt;-->
<!--                  <div class="small-box bg-danger">-->
<!--                    <div class="inner">-->
<!--                      <h3>65</h3>-->

<!--                      <p>Unique Visitors</p>-->
<!--                    </div>-->
<!--                    <div class="icon">-->
<!--                      <i class="ion ion-pie-graph"></i>-->
<!--                    </div>-->
<!--                    <a class="small-box-footer" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; ./col &ndash;&gt;-->
<!--              </div>-->

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

</body>
</html>