<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card mt-3">
            <div class="card-body">
              <h1 class="text-center">Halaman yang kamu buka sayangnya tidak ada :(</h1>
              <a href="/"><p class="text-center" >Home</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>