<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <title>Home</title>
</head>
<body>
    <h1>HELLO <span th:text="${userLogin}"></span> FROM CONTROLLER</h1>
    <form name="f" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>